{{#each results}}
<div class="discussion">
  <h1>Category: {{category}}</h1>
  <h2>userName: {{userName}}</h2>
  <p>{{description}}</p>
  <div>
    <button class="dislike-btn" onclick="replyForm('{{this._id}}', event)">Show replies</button>
    <div class="replies" style="display: none;">
      {{#each replies}}
      <div class="reply">
        <p>{{this.userName}} - {{this.message}}</p>
      </div>
      {{/each}}
    </div>
  </div>
  <button onclick="showReplyForm(this)">Reply</button>
  <form class="reply-form" style="display: none;">
    <textarea id="reply-textarea"></textarea>
    <button type="submit" onclick="postReply(event, '{{_id}}', this)">Post Reply</button>
  </form>
</div>
{{/each}}