
   <div class="container center">
<h1 id="event-header">Discuss</h1>
<form method="POST" action="/discussion">
<div class="inf">
<div class="sec-1">
<label for="category">Category:</label>
</div>

</div>
<div class="sec-2">
<select id="category" name="category"><br>
<option value=""></option>
</select>
</div>

    <script>
      const categories = [
"events", "education", "sports", "food", "random", "books", "anime", "games", "TV", "Programming" ];

      const selectElement = document.getElementById("category");

      categories.forEach((category) => {
        const option = document.createElement("option");
        option.text = category;
        option.value = category;
        selectElement.appendChild(option);
      });
    </script>

<div class="inf">
          <div class="sec-1">
  <label for="discussionTopic">Topic</label>
  </div>
          <div class="sec-2">
  <input id="discussionTopic" type="text" name="discussionTopic">
  </div>
      </div>
       <div class="inf">
          <div class="sec-1">

  <label for="discussion">Discussion</label>
  </div>
   <div class="sec-2">
  <textarea id="description" name="description" rows="6" maxlength="300"></textarea>
     </div>
        </div>
    <form class="comment-form" id="comment-form" action="/add-comment" method="POST">
    <input type="hidden" name="postId" value="{{_id}}">
    <label for="comment-text"></label>
    <input type="text" name="commentText" id="comment-text">
    <input type="submit" value="Comment">
    </form>
    <a href="#" id="view-comments">View Comments</a>
    </div>


{{#each discussions}}
    <div class="discussion-container">
        <h2>{{topic}}</h2>
        <p>Category: {{category}}</p>
        <p>Created by: {{topic}}</p>
        <p>Created by: {{discussion}}</p>
        <p>Created at: {{created_Date}}</p>
                  
        <div class="comments-container">
            <h3>Comments:</h3>
            {{#each comments}}
                <div class="comment-container">
                <p>{{text}}</p>
                <p>Posted by: {{author}}</p>
                <p>Posted at: {{created_Date}}</p>
                </div>
        {{/each}}

{{#if deletable}}
            <button class="delete-btn" onClick ="deletePost('{{_id}}')" data-post-id="{{_id}}">Delete</button>
        {{/if}}
    </div>
{{/each}}