<div class="container center">
    <h1 id="event-header">Discuss</h1>
    <form method="POST" action="/discuss">
        <div class="inf">
            <div class="sec-1">
                <label for="category">Category:</label>
            </div>

            <div class="sec-2">
                <select id="category" name="category"><br>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="inf">
            <div class="sec-1">

                <label for="description">Discussion</label>
            </div>
            <div class="sec-2">
                <textarea id="description" name="description" rows="6" maxlength="300"></textarea>
            </div>
        </div>

        <input type="submit" value="Submit">
    </form>

</div>

{{#each newDiscussion}}
<div class="discussion">
    <h1>Category: {{category}}</h1>
    <h2>userName: {{userName}}</h2>
    <p>{{description}}</p>
    <div>
        <button class="dislike-btn" onclick="replyForm('{{this._id}}', this)">Show replies</button>
        <div class="replies" style="display: none;">
            {{#each result}}
            <div class="reply">
                <p>{{this.userName}} - {{this.message}}</p>
            </div>
            {{/each}}
        </div>

    </div>

    <button onclick="showReplyForm(this)">Reply</button>
    <form class="reply-form" style="display: none;">
        <textarea id="reply-textarea"></textarea>
        <button type="submit" onclick="postReply(event, '{{_id}}', this)">Post Reply</button>
    </form>

</div>
{{/each}}
<link rel="stylesheet" href="/public/css/discussion.css">
<script src="../public/js/discuss/discuss.js"></script>