
<div class="container center">
  
{{#each newEvent}}

<img id="img-home" src="{{image}}" alt="Event image">
<h2>Event Name: {{eventName}}</h2><br>
<p>Description: {{description}}</p><br>
<p>Building Name: {{buildingName}}</p><br>
<form method="PUT" action="/events/{{_id}}">
<p>Seating Capacity{{seatingCapacity}}</p><br>

<button type="submit">Attend</button>
</form>

{{/each}}

</div>

<p id="error-message">{{Error}}</p>


