
<div id="filters">
<form action="/searchevents" method="GET">
    <div class="row">
        {{!-- <div class="col form-group">
            <select class="form-control category m-0" name="category">
                <option value="All" selected="true">All</option>
            </select>
        </div> --}}
        <div class="col form-group">
            <label for="search">Search Events</label>
            <input class="form-control" type="text" id="search" name="search" placeholder="Search Events Here">
        </div>
        <div class="col form-group">
            <button class="btn btn-dark" type="submit">Search</button>
        </div>
    </div>
</form>

<script>
    // Get the form element
    const form = document.getElementById('searchForm');

    // Handle form submission
    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the form from submitting normally

        // Get the search input value
        const searchInput = document.getElementById('search').value;

        // Perform the search
        performSearch(searchInput);
    });

    // Function to perform the search
    function performSearch(searchTerm) {
        // Perform your search logic here
        // You can use AJAX or fetch to send the search term to the server and handle the response

        // Example using fetch
        fetch('/searchevents?search=' + searchTerm)
            .then(response => {
                // Handle the response from the server
                // For example, you can display the search results on the page
            })
            .catch(error => {
                // Handle any errors that occurred during the search
            });
    }
</script>

<div class="container-fluid">
    <div id="search mt-3">
        <form action="/search" method="GET">
            <div class="row justify-content-end">
                <div class="form-group col-3">
                    <input type="text" name="query" class="form-control" placeholder="Search Events Here">
                </div>
                <div class="form-group col-1">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-12 text-center my-5">
            <h3><u>Latest Posts</u></h3>
        </div>
        {{#each posts}}
        <div class="col-4">
            <div class="border shadow p-3 mb-3 bg-body rounded">
                <div class="w-100 text-center">
                    <img class="img-fluid img-thumbnail bg-light" src="{{image}}" alt="Post image"
                        style="max-height:200px;min-height: 200px">
                </div>
                <p class="mt-2 text-primary">Category : {{category}} | Created by: {{userName}}</p>
                <p class="mt-2">{{content}}</p>
                {{!-- <p>Created at: {{created_Date}}</p> --}}
                {{#if (if_eq category "lost&found")}}
                <p>Address: {{address}}</p>
                {{/if}}
                <div class="row justify-content-around">
                    <div class="col-4">
                        <button class="btn btn-outline-success btn-sm" data-post-id="{{this._id}}"
                            onclick="likeFunc('{{this._id}}','home')"><i class="fa fa-thumbs-up"> Like
                                {{this.likes}}</i></button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-outline-warning btn-sm" data-post-id="{{this._id}}"
                            onclick="dislikeFunc('{{this._id}}','home')"><i class="fa fa-thumbs-down"> Dislike
                                <strong>{{this.dislikes}}</strong></i></button>
                    </div>
                    {{#if deletable}}
                    <div class="col-4">
                        <button class="btn btn-danger btn-sm" onClick="deletePost('{{_id}}')" data-post-id="{{_id}}"><i
                                class="fa fa-trash"></i> Delete</button>
                    </div>
                    {{/if}}
                    <div class="col mt-3 text-center">
                        <button class="btn btn-info btn-sm" onclick="toggleComments(this)">View Comments</button>
                        <div id="replies-sec" class="replies text-left my-3" style="display: none;">
                            {{#each result}}
                            <div class="reply px-2 my-2 border border-info">
                                <p>{{this.commentUserName}} - {{this.commentContent}}</p>
                            </div>
                            {{/each}}
                            <form class="reply-form">
                                <textarea id="reply-textarea"></textarea>
                                <div>
                                    <span id="cmt-err" class="text-danger" style="display: none;">Please enter valid
                                        comment</span>
                                </div>
                                <button class="btn btn-success btn-sm" type="button"
                                    onclick="postReply(event, '{{_id}}', this)">Post
                                    Comment</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <a href="/posts">View More</a>
    </div>
    <div class="row">
        <div class="col-12 text-center my-5">
            <h3><u>Recent Events</u></h3>
        </div>
        {{#each events}}
        <div class="col-4">
            <div class="border shadow p-3 mb-3 bg-body rounded">
                <div class="w-100 text-center">
                    <img class="img-fluid img-thumbnail bg-light" src="{{image}}" alt="Event image"
                        style="max-height:200px;min-height: 200px">
                </div>
                <p class="mt-2 text-primary">Event Name : {{eventName}} | Organizer: {{organizer}}</p>
                <p class="mt-2">{{description}}</p>
                <p class="mt-2">Building Name : {{buildingName}} | Room: {{roomNumber}}</p>
                <p class="mt-2">Date:{{date}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    <a href="/events">View More</a>
</div>
<script>
</script>
<script src="../public/js/homepage/homepage.js"></script>