<div id="search">
    <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Search Events Here">
        <button type="submit">Search</button>
    </form>
</div>
{{#each posts}}
    <div class="post-container">
        <h2>{{content}}</h2>
        {{!-- <img id="img-home" src="{{image}}" alt="Post image"> --}}
        <img id="img-home" src="{{image}}" alt="Post image">
        <p>Category: {{category}}</p>
        <p>Created by: {{name}}</p>
        <p>Created at: {{created_Date}}</p>
        <p>Address: {{address}}</p>
        {{!-- <button type="{{likes}}" class="btn"><i class="fa fa-thumbs-up">Like</i></button>
        <button type="{{dislikes}}" class="btn"><i class="fa fa-thumbs-down">Dislike</i></button> --}}
        <button type="submit" class="btn"><i class="fa fa-thumbs-up">Like</i></button>
        <button type="submit" class="btn"><i class="fa fa-thumbs-down">Dislike</i></button>
        <div class="comments-container">
            <h3>Comments:</h3>
            {{#each comments}}
                <div class="comment-container">
                    <p>{{text}}</p>
                    <p>Posted by: {{author}}</p>
                    <p>Posted at: {{created_Date}}</p>

                </div>
            {{/each}}<br>
            <form class="comment-form" id="comment-form-{{_id}}" action="/posts/{{_id}}/comment" method="POST">
                <input type="hidden" name="postId" value="{{_id}}">
                <label for="comment-text-{{_id}}">Add a Comment:</label>
                <input type="text" name="commentText" id="comment-text-{{_id}}">
                <input type="submit" value="Submit">
            </form>
            <a href="/posts/{{_id}}/allComments" id="view-comments">View Comments</a>
            
        </div>
        {{#if deletable}}
            <button class="delete-btn" onClick="deletePost('{{_id}}')" data-post-id="{{_id}}">Delete</button>
        {{/if}}
    </div>
{{/each}}
<script>

    function myFunction(x) {
        x.classList.toggle("fa-thumbs-down");
    }

    function deletePost(id) {
        fetch(`/posts/${id}`, {
            method: "delete",
            headers: {
                Accept: 'application/json, text/plain, */*',
                "Content-type": 'application/json'
            },
        })
                .then(response => {
                    if (response.ok) {
                        alert('Post deleted successfully');
                        window.location.href = '/homepage';
                    } else {
                        throw new Error('Network response was not ok');
                    }
                })
                .catch(error => {
                    alert(error.message || "Something went wrong.");
                })
                .then(() => {
                    console.log('This will run after either success or failure');
                });
    }

    document.querySelectorAll('.comment-form').forEach(form => {
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            const commentText = this.querySelector('input[name="commentText"]').value;
            const postId = this.querySelector('input[name="postId"]').value;
            fetch(`/posts/${postId}/comment`, {
                method: "post",
                body: JSON.stringify({commentText: commentText}),
                headers: {
                    "Content-Type": "application/json"
                }
            })
                    .then(response => {
                        if (response.ok) {
                            alert('Comment added successfully');
                            window.location.href = `/homepage`;
                        } else {
                            throw new Error('Network response was not ok');
                        }
                    })
                    .catch(error => {
                        alert(error.message || "Something went wrong.");
                    })
                    .then(() => {
                        console.log('This will run after either success or failure');
                    });
        });
    });




</script>
<link rel="stylesheet" href="/public/css/homepage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

