<div class="post-list">
    <h1>
    <span class="text-capitalize">
        {{category}}
    </span>
        Posts: Displaying {{posts.length}} of {{count}} posts
    </h1>

    <div class="sorting">

        <span class="sort-item" data-field="title">
      A-Z
    </span>
        <span class="sort-item" data-field="createdAt">
      Created Date
    </span>
        <span class="sort-item" data-field="trending">
      Most Trending
    </span>
    </div>

    {{#if posts.length}}
        {{#each posts}}
            <div class="post">
                <div class="post-header">
                    <h2>{{this.title}}</h2>
                    <span>by {{this.author}}</span>
                </div>
                <div class="post-body">
                    <p>{{this.content}}</p>
                </div>
                <div class="post-footer">
                    <button class="comment-button">Show Comments</button>
                    <div class="comments hide">
                        {{#each this.comments}}
                            <div class="comment">
                                <span>{{this.user}}</span>
                                <p>{{this.text}}</p>
                            </div>
                        {{/each}}
                    </div>
                    <div class="actions">
                        <button class="like-button">Like</button>
                        <button class="dislike-button">Dislike</button>
                    </div>
                </div>
            </div>
        {{/each}}
    {{/if}}

    <div class="pagination">
        <a class="{{prevClass}}" aria-label="Previous">&laquo;</a>
        <a class="active" href="#">{{query.page}}</a>
        <a class="{{nextClass}}" aria-label="Next">&raquo;</a>
    </div>
</div>