<article class="new-comment">
  <h1>Make a comment</h1>
  <form action="/comments/{{postId}}" method="POST" class="new-post-form">
   

    <label for="comment-body">
      Comment Body
    </label>
    <textarea id="comment-body" name="commentbody" rows="4" placeholder="Comment Content"
      class="full-width-input">{{comment.comment}}</textarea>

    <label for="commenter">
      Commenter
    </label>
    <select class="full-width-input" name="commenterId">
      <option value="">Select User...</option>
      {{#each users}}
      <option value="{{_id}}">{{firstName}} {{lastName}}</option>
      {{/each}}
    </select>
   
    <br />
    <button type="submit">Create New Comment</button>
    <button type="reset">Clear Form</button>
    {{!-- <input name='_method' value="PUT" hidden /> --}}
  </form>
  {{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}

</article>