<body>
    
<div class="container">
    <br>
    <h1 class="login">Posts</h1>
    <form method="POST" action="/posts" id="post-form" enctype="multipart/form-data">
        <div class="inf">
            <div class="sec-1">
                <label for="postCategory">Post Category:</label>
            </div>
            <div class="sec-2">
                <select name="postCategory" id="postCategory">
                    <option value="">Choose a category</option>
                    <option value="education">Education</option>
                    <option value="sports">Sports</option>
                    <option value="entertainment">Entertainment</option>
                    <option value="lost&found">Lost&found</option>
                </select>
            </div>
        </div>
        <div class="inf">
            <div class="sec-1">
                <label for="postContent">Post Content:</label>
            </div>
            <div class="sec-2">
                <textarea name="postContent" rows="6" maxlength="300" id="postContent" required></textarea><br>
            </div>
        </div>
        <div class="inf" id="address-input" style="display:none;">
            <div class="sec-1">
                <label for="address">Location:</label>
            </div>
            <div class="sec-2">
                <input type="text" name="address" id="address" placeholder="Address, City, State, Zip" value="{{address}}">
                <button  type="submit" id="showOnMapBtn">Show on Map</button>
                <div id="map"></div>
            </div>
        </div>
        <div class="inf">
            <div class="sec-1">
                <label for="postImage">Upload Image: </label>
            </div>
            <div class="sec-2">
                <input type="file" name="postImage" id="postImage">
                <img id="image-preview" src="#" alt="Preview of uploaded image" style="display:none;">
            </div>
        </div>
        <button type="submit" class="postBtn" id="addPostBtn">Add Post</button>
        <ul class="error" id="postError" hidden></ul>
    </form>
    {{#each posts}}
        <div class="post-container">
            <h2>{{content}}</h2>
            {{#if image}}
                <img id="img-home" src="{{image}}" alt="Post image">
            {{/if}}
            <p>Category: {{category}}</p>
            <p>Created by: {{userName}}</p>
            <p>Created at: {{created_Date}}</p>
            {{#if (checkCategory category)}}
                <p>Address: {{address}}</p>
            {{/if}}
            <button type="{{likes}}" class="btn"><i class="fa fa-thumbs-up">Like</i></button>
            <button type="{{dislikes}}" class="btn"><i class="fa fa-thumbs-down">Dislike</i></button><br>
            <button onClick="commentPopup({{_id}})">View Comments</button>
            <div class="comments-popup" id="comments-popup-{{_id}}">
                {{#each comments}}
                    <div class="comment-container">
                        <p>{{text}}</p>
                        <p>Posted by: {{author}}</p>
                        <p>Posted at: {{created_Date}}</p>
                    </div>
                {{/each}}
            </div>
        {{#if deletable}}
            <button class="delete-btn" onClick="deletePost('{{_id}}')" data-post-id="{{_id}}">Delete</button>
        {{/if}}
    </div>
{{/each}}
<script src="/public/js/post/map.js"></script>
<script src="/public/js/post/posts.js" type="module"></script>
<link rel="stylesheet" href="/public/css/posts.css">
</body>