{{#if (if_eq role "user")}}
         <div class="my-3 text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createPostModal"> + New Post</button>
        </div>
{{/if}}

<div id="posts-container-1">
    <div class="sort-container">
        <label for="sortCriteria">Filter:</label>
        <select id="sortCriteria" onchange="sortPosts(this.value)">
            <option value=""> </option>
            {{!-- <option value="" label="Select an option"> </option> --}}
            <option value="a-z">A-Z</option>
            <option value="created_date">Created Date</option>
            <option value="most_likes">Most Likes</option>
        </select>
    </div>
</div>

<div id="posts-container">
    <h1>POSTS</h1>
    {{#each posts}}
        <div class="post-container">
            <h1>{{content}}</h1>
            <img id="img-{{this._id}}" src="{{image}}" alt="Post image">
            <p>Category: {{category}}</p>
            <p>Created by: {{userName}}</p>
            {{#if (if_eq category "lost&found")}}
            <p>Address: {{address}}</p>
            {{/if}}
            <p class="create_date" data-created_Date="{{created_Date}}">Created at: {{created_Date}}</p>

            {{!-- <form class="like-form" id="like-form" action="/posts/{{this._id}}/like" method="post">
                <button class="like-btn" type="submit" data-post-id="{{this._id}}">Like</button>
                <span class="like-count" id="like-count-{{this._id}}">{{this.likes}}</span>
            </form>

            <form class="dislike-form" id="dislike-form" action="/posts/{{this._id}}/dislike" method="post">
                <button class="dislike-btn" type="submit" data-post-id="{{this._id}}">Dislike</button>
                <span class="dislike-count" id="dislike-count-{{this._id}}">{{this.dislikes}}</span>
            </form> --}}

            <form class="like-form" id="like-form">
                <button class="like-btn-home" data-post-id="{{this._id}}" onclick="likeFunc('{{this._id}}','post')"><i
                        class="fa fa-thumbs-up">Like</i></button>
                <span class="like-count" id="like-count-{{this._id}}">{{this.likes}}</span>
            </form>

            <form class="dislike-form" id="dislike-form">
                <button class="dislike-btn-home" data-post-id="{{this._id}}"
                    onclick="dislikeFunc('{{this._id}}','post')"><i class="fa fa-thumbs-down">Dislike</i></button>
                <span class="dislike-count" id="dislike-count-{{this._id}}">{{this.dislikes}}</span>
            </form>

            {{!-- <button class="like-btn" onclick="toggleLike('{{this._id}}', this)">
                <ion-icon name="thumbs-up"></ion-icon>
                <span class="like-count" data-likes="{{this.likes}}">{{this.likes}}</span>
            </button>
            <button class="dislike-btn" onclick="toggleDislike('{{this._id}}', this)">
                <ion-icon name="thumbs-down"></ion-icon>
                <span class="dislike-count">{{this.dislikes}}</span>
            </button> --}}


            <hr>
            <div id="comments-{{this._id}}" class="comments-container" style="display: none;">
                <form class="comment-form" id="comment-form-{{this._id}}" action="/posts/{{this._id}}/comment"
                    method="POST">
                    <input type="hidden" name="postId" value="{{this._id}}">
                    <label for="comment-text-{{this._id}}">Add a Comment:</label>
                    <input type="text" name="commentText" id="comment-text-{{this._id}}">
                    <input type="submit" value="Submit">
                </form>
                {{#each ../ comments}}
                    {{#if (if_eq @key ../_id)}}
                        {{#each this}}
                            {{#each this}}
                                <div class="comment">
                                    <p>Comment: {{contents}} /User Name: {{userName}} - Created
                                        Date: {{created_Date}}</p>
                                </div>
                                <hr>
                            {{/each}}
                        {{/each}}
                    {{/if}}
                    {{#if deletable}}
                        <button class="delete-btn" onclick="deletePost('{{_id}}')">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                    {{/if}}
                {{/each}}
            </div>

            {{!-- <button class="comment-btn" onclick="showCommentsPopup('{{this._id}}')" data-post_id="{{this._id}}">
                <ion-icon name="chatbox-ellipses"></ion-icon>
            </button> --}}
            <button class="comment-btn" id="commentBtn-{{this._id}}" onclick="showCommentsPopup('{{this._id}}')" data-post_id="{{this._id}}">
    <ion-icon name="chatbox-ellipses"></ion-icon>
</button>
<label for="commentBtn-{{this._id}}">Comments</label>


            {{#if deletable}}
            <button class="delete-btn" onclick="deletePost('{{_id}}')">
                <i class="fas fa-trash"></i> Delete
            </button>
            {{/if}}

        </div>
    {{/each}}

</div>


<div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="createPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="createPostModalLabel">New Post</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/posts" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="postCategory" class="col-form-label">Post Category:</label>
                        <select id="postCategory" class="form-control category m-0" name="category">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="postContent" class="col-form-label">Post Content:</label>
                        <textarea class="form-control" id="postContent" name="postContent" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="postImage" class="col-form-label">Upload Image: </label>
                        <input type="file" class="form-control form-control-lg" name="postImage" id="postImage">
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Send</button>
                </div>
        </form>
      </div>
    </div>
  </div>
</div>


    <script src="/public/js/post/sort.js"></script>
    <script src="/public/js/post/map.js"></script>
    <script src="/public/js/post/comments.js"></script>
    <script src="/public/js/homepage/homepage.js"></script>
    <script src="/public/js/post/posts.js" type="module"></script>
    <link rel="stylesheet" href="/public/css/posts.css">
</body>