{{#if (if_eq role "user")}}
    <div class="my-3 text-right">

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createPostModal" style="background-color: blue;">
  + New Post
</button>

    </div>
{{/if}}



<div id="posts-container">
    <h1>POSTS</h1>
    {{#each posts}}
        <div class="post-container" id="post-container-{{this._id}}" data-href="/posts/{{this._id}}"
             style="cursor: pointer;">
            <h1>{{content}}</h1>
            <img id="img-{{this._id}}" src="{{image}}" alt="Post image">
            <p>Category: {{category}}</p>
            <p>Created by: {{userName}}</p>
            {{#if (if_eq category "lost&found")}}
                <p>Address: {{address}}</p>
            {{/if}}
            <p class="create_date" data-created_Date="{{created_Date}}">Created at: {{created_Date}}</p>


            <form class="like-form" id="like-form-{{this._id}}">
                <button class="like-btn-home" data-post-id="{{this._id}}" onclick="likeFunc('{{this._id}}','post')"><i
                        class="fa fa-thumbs-up">Like</i></button>
                <span class="like-count" id="like-count-{{this._id}}">{{this.likes}}</span>
            </form>

            <form class="dislike-form" id="dislike-form-{{this._id}}">
                <button class="dislike-btn-home" data-post-id="{{this._id}}"
                        onclick="dislikeFunc('{{this._id}}','post')"><i class="fa fa-thumbs-down">Dislike</i></button>
                <span class="dislike-count" id="dislike-count-{{this._id}}">{{this.dislikes}}</span>
            </form>


            <hr>
            <div id="comments-{{this._id}}" class="comments-container" style="display: none;">
                <form class="comment-form" id="comment-form-{{this._id}}" action="/posts/{{this._id}}/comment"
                      method="POST">
                    <input type="hidden" name="postId" value="{{this._id}}">
                    <label for="comment-text-{{this._id}}">Add a Comment:</label>
                    <input type="text" name="commentText" id="comment-text-{{this._id}}">
                    <div>
                        <span id="comment-error-{{this._id}}" class="text-danger" style="display: none;"></span>
                    </div>
                    <button type="button" onclick="addComment(event, '{{_id}}', this)">Submit</button>
                </form>
                {{#each ../ comments}}
                    {{#if (if_eq @key ../_id)}}
                        {{#each this}}
                            {{#each this}}
                                <div class="comment">
                                    <p>Comment: {{contents}} /User Name: {{userName}} - Created
                                        Date: {{created_Date}}</p>
                                </div>
                                <hr>
                            {{/each}}
                        {{/each}}
                    {{/if}}
                    {{#if deletable}}
                        <button class="delete-btn" onclick="deleteComment('{{_id}}')">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                    {{/if}}
                {{/each}}
            </div>

            <button class="comment-btn blue-btn" id="comment-btn-{{this._id}}" onclick="showCommentsPopup('{{this._id}}')">
    <span>Show Comments</span>
</button>


        </div>
    {{/each}}

</div>


<div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="createPostModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="createPostModalLabel">New Post</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/posts" id="post-form" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="postCategory" class="col-form-label">Post Category:</label>
                        <select id="postCategory" class="form-control category m-0" name="category">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="postContent" class="col-form-label">Post Content:</label>
                        <textarea class="form-control" id="postContent" name="postContent" rows="5"></textarea>
                    </div>
                    
                    <div class="form-group" id="address-input">
                    <label for="address" class="col-form-label">Location:</label>
                    <input type="text" class="form-control" name="address" id="address" placeholder="Address, City, State, Zip" value="{{address}}">
                    <button type="submit" id="showOnMapBtn" class="btn btn-primary blue-btn">Show on Map</button>
                    <div id="map"></div>
                    </div>
                    <div class="form-group">
                        <label for="postImage" class="col-form-label">Upload Image:</label>
                        <input type="file" class="form-control form-control-lg" name="postImage" id="postImage">
                    </div>
                    <ul class="error" id="postError" hidden></ul>
                    <div class="form-group">
                       
                        <button type="submit" class="btn btn-primary" style="background-color: blue;">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/public/js/post/sort.js"></script>
<script src="/public/js/post/map.js"></script>
<script src="/public/js/post/postRedirect.js"></script>
<script src="/public/js/commentBtn.js"></script>
<script src="/public/js/post/comments.js"></script>
<script src="/public/js/homepage/homepage.js"></script>
<script src="/public/js/post/posts.js" type="module"></script>
<link rel="stylesheet" href="/public/css/posts.css">
 