{{!-- 
{{#if (if_eq role "user")}}
<form method="POST" action="/posts" id="post-form" enctype="multipart/form-data">
    <div class="container center">
         <div class="my-3 text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createDiscussionModal"> + New Post</button>
            </div>
        <h1 class="title">Posts</h1>
        <div class="inf">
            <div class="sec-1">
                <label for="postCategory">Post Category:</label>
            </div>
            <div class="sec-2">
                <select name="postCategory" id="postCategory">
                    <option value="">Choose a category</option>
                    <option value="education">Education</option>
                    <option value="sports">Sports</option>
                    <option value="entertainment">Entertainment</option>
                    <option value="lost&found">Lost&found</option>
                </select>
            </div>
        </div>
        <div class="inf">
            <div class="sec-1">
                <label for="postContent">Post Content:</label>
            </div>
            <div class="sec-2">
                <textarea name="postContent" rows="6" maxlength="300" id="postContent"></textarea><br>
            </div>
        </div>
        <div class="inf" id="address-input" style="display:none;">
            <div class="sec-1">
                <label for="address">Location:</label>
                <div class="sec-2">
                    <input type="text" name="address" id="address" placeholder="Address, City, State, Zip"
                           value="{{address}}">
                    <button type="submit" id="showOnMapBtn">Show on Map</button>
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <div class="inf">
            <div class="sec-1">
                <label for="postImage">Upload Image: </label>
            </div>
            <div class="sec-2">
                <input type="file" name="postImage" id="postImage">
            </div>
        </div>
        <button type="submit" class="postBtn" id="addPostBtn">Add Post</button>
        <ul class="error" id="postError" hidden></ul>
    </div>
</form>
<br>
{{/if}} --}}
{{#if (if_eq role "user")}}
<form method="POST" action="/posts" id="post-form" enctype="multipart/form-data">
    <div class="container center">
        <h1 class="title">Posts</h1>
        <div class="inf">
            <div class="sec-1">
                <label for="postCategory">Post Category:</label>
            </div>
            <div class="sec-2">
                <select name="postCategory" id="postCategory">
                    <option value="">Choose a category</option>
                    <option value="education">Education</option>
                    <option value="sports">Sports</option>
                    <option value="entertainment">Entertainment</option>
                    <option value="lost&found">Lost&found</option>
                </select>
            </div>
        </div>
        <div class="inf">
            <div class="sec-1">
                <label for="postContent">Post Content:</label>
            </div>
            <div class="sec-2">
                <textarea name="postContent" rows="6" maxlength="300" id="postContent"></textarea><br>
            </div>
        </div>
        <div class="inf" id="address-input" style="display:none;">
            <div class="sec-1">
                <label for="address">Location:</label>
                <div class="sec-2">
                    <input type="text" name="address" id="address" placeholder="Address, City, State, Zip"
                           value="{{address}}">
                    <button type="submit" id="showOnMapBtn">Show on Map</button>
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <div class="inf">
            <div class="sec-1">
                <label for="postImage">Upload Image: </label>
            </div>
            <div class="sec-2">
                <input type="file" name="postImage" id="postImage">
            </div>
        </div>
        <button type="submit" class="postBtn" id="addPostBtn">Add Post</button>
        <ul class="error" id="postError" hidden></ul>
    </div>
</form>
<br>
{{/if}}

<div id="posts-container">

    {{#each posts}}
        <div class="post-container">
            <h2>{{content}}</h2>
            {{!-- <img id="<img id="img-home" src="{{image}}" alt="Post image">" src="{{image}}" alt="Post image"> --}}
            {{!-- <img id="img-home" src="{{image}}" alt="Post image"> --}}
            <img id="img-{{this._id}}" src="{{image}}" alt="Post image">
            <p>Category: {{category}}</p>
            <p>Created by: {{userName}}</p>
            {{#if (if_eq category "lost&found")}}
                <p>Address: {{address}}</p>
            {{/if}}
            <p class="create_date" data-created_Date="{{created_Date}}">Created at: {{created_Date}}</p>
            <button class="like-btn" onclick="toggleLike('{{this._id}}', this)">
                <ion-icon name="thumbs-up"></ion-icon>
                <span class="like-count" data-likes="{{this.likes}}">{{this.likes}}</span>
            </button>
            <button class="dislike-btn" onclick="toggleDislike('{{this._id}}', this)">
                <ion-icon name="thumbs-down"></ion-icon>
                <span class="dislike-count">{{this.dislikes}}</span>
            </button>
            <hr>
            <div id="comments-{{this._id}}" class="comments-container" style="display: none;">
                <form class="comment-form" id="comment-form-{{this._id}}" action="/posts/{{this._id}}/comment" method="POST">
                    <input type="hidden" name="postId" value="{{this._id}}">
                    <label for="comment-text-{{this._id}}">Add a Comment:</label>
                    <input type="text" name="commentText" id="comment-text-{{this._id}}">
                    <input type="submit" value="Submit">
                </form>
                {{#each ../ comments}}
                    {{#if (if_eq @key ../_id)}}
                        {{#each this}}
                            {{#each this}}
                                <div class="comment">
                                    <p>Comment: {{contents}} /User Name: {{userName}} - Created
                                        Date: {{created_Date}}</p>
                                </div>
                                <hr>
                            {{/each}}
                        {{/each}}
                    {{/if}}
                {{/each}}
            </div>
            <button class="comment-btn" onclick="showCommentsPopup('{{this._id}}')" data-post_id="{{this._id}}">
                <ion-icon name="chatbox-ellipses"></ion-icon>
            </button>

            {{#if deletable}}
                <button class="delete-btn" onclick="deletePost('{{_id}}')">
                    <i class="fas fa-trash"></i> Delete
                </button>
            {{/if}}
        </div>
    {{/each}}


</div>

<div id="posts-container-1">
    <div class="sort-container">
        <label for="sortCriteria">Filter:</label>
        <select id="sortCriteria" onchange="sortPosts(this.value)">
            {{!-- <option value="" label="Sort by"> </option> --}}
            <option value="" label="Select an option"> </option>
            <option value="a-z">A-Z</option>
            <option value="created_date">Created Date</option>
            <option value="most_likes">Most Likes</option>
        </select>
    </div>
</div>

<script src="/public/js/post/sort.js"></script>
<script src="/public/js/post/map.js"></script>
<script src="/public/js/post/comments.js" ></script>
<script src="/public/js/post/like&dislike.js"></script>
<script src="/public/js/post/posts.js" type="module"></script>
<link rel="stylesheet" href="/public/css/posts.css">









