<div class="card">
    {{!-- TODO: display image here of the person --}}
    <h1>Profile</h1>
    <h2>{{firstname}} + {{lastname}}</h2>
    <p>{{email}}</p>
    <p>{{dob}}</p>
    <p>{{department}}</p>
    <input type="search"> 
</div>
