<div class="card">
    <h1>Profile</h1>
    <h2>Full Name : {{user.firstName}} {{user.lastName}}</h2>
    <p>User Name: {{user.userName}}</p>
    <p>Email:{{user.email}}</p>
    <p>DOB: {{user.DOB}}</p>
    <p>Department:{{user.department}}</p>
    {{!-- <input type="search">  --}}
</div>
