<div class="card">
    {{!-- TODO: display image here of the person --}}
    <h1>Profile</h1>


    <h2>Full Name : {{user.firstName}} {{user.lastName}}</h2>
    <p>{{user._id}}</p>
    <p>User Name: {{user.userName}}</p>
    <p>Email:{{user.email}}</p>
    <p>DOB: {{user.DOB}}</p>
    <p>Department:{{user.department}}</p>
    <button class="btn btn-dark" type=""button" onclick="window.location.href='http://localhost:3000/change-password/{{user._id}}';">Change password</button>
    {{!-- <input type="search">  --}}
</div>
