<h1>Welcome {{user.firstName}} {{user.lastName}}!</h1>


{{#each posts}}
  <div>
    <p>{{this.category}}</p>
    <img src="{{ this.imagePath }}" alt="Image">
    <p>{{this.content}}</p>

    <h3>Comments</h3>
    {{#each this.comments}}
      <p>{{ this.contents }} - {{ this.userId.userName }}</p>
    {{/each}}
    <form action="/posts/{{ this._id }}/like" method="POST">
      <button type="submit">Like</button>
    </form>
    <form action="/posts/{{ this._id }}/comment" method="POST">
      <input type="text" name="text">
      <button type="submit">Comment</button>
    </form>
  </div>
{{/each}}
