{{!-- <div class="container"> --}}
{{!-- <section class="body-wrapper con"> --}}
<form id="register-Form" action="/register" method="post">
    <div class="container center">
        <h1>Registration</h1>



        <div class="inf">
            <div class="sec-1">
                <label for="FN">First Name: </label>
            </div>
            <div class="sec-2">
                {{!-- <ion-icon name="person-outline"></ion-icon> --}}
                <input type="text" name="firstName" id="FN" placeholder="Michael" value="{{firstName}}">

            </div>
        </div>

        <div class="inf">
            <div class="sec-1">
                <label for="LN">Last Name: </label>
            </div>
            <div class="sec-2">
                {{!-- <ion-icon name="person-outline"></ion-icon> --}}
                <input type="text" name="lastName" id="LN" placeholder="Jordan" value="{{lastName}}">

            </div>
        </div>

        <div class="inf">
            <div class="sec-1">
                <label for="UN">User Name: </label>
            </div>
            <div class="sec-2">
                {{!-- <ion-icon name="person-outline"></ion-icon> --}}
                <input type="text" name="userName" id="UN" placeholder="K1ingOfBBALL" value="{{userName}}">

            </div>
        </div>

        <div class="inf">
            <div class="sec-1">
                <label for="email">Email: </label>
            </div>
            <div class="sec-2">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" name="email" id="email" placeholder="firstname.lastname@stevens.edu"
                       value="{{email}}">

            </div>
        </div>

        <div class="inf">
            <div class="sec-1">
                <label for="password">Password: </label>
            </div>
            <div class="sec-2">
                {{!-- <ion-icon name="lock-closed-outline"></ion-icon> --}}
                <input type="password" name="password" id="password" placeholder="******" value="{{password}}">

            </div>
        </div>

        <div class="inf">
            <div class="sec-1">
                <label for="CP">Confirm password: </label>
            </div>
            <div class="sec-2">
                {{!-- <ion-icon name="lock-closed-outline"></ion-icon> --}}
                <input type="password" name="confirmPassword" id="CP" placeholder="******"
                       value="{{password}}">

            </div>
        </div>

        <div class="inf">
            <div class="sec-1">
                <label for="DOB">DOB: </label>
            </div>
            <div class="sec-2">
                {{!-- <ion-icon name="calendar-outline"></ion-icon> --}}
                <input type="date" name="DOB" id="DOB" placeholder="mm-dd-yyyy" value="{{DOB}}">

            </div>
        </div>

        <div class="inf">
            <div class="sec-1">
                <label for="role">Role: </label>
                <select name="role" id="role">

                    <option value=""></option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
            </div>

        </div>

        <div class="inf" id="location-input" style="display:none;">
            <div class="sec-1">
                <label for="location">Location:</label>
                <div class="sec-2">
                    <input type="text" name="location" id="location">
                </div>
            </div>
        </div>

        <div class="inf" id="auth-input" style="display:none">
            <div class="sec-1">
                <label for="authentication">Authentication: </label>
            </div>
            <div class="sec-2">
                {{!-- <ion-icon name="person-outline"></ion-icon> --}}
                <input type="text" name="authentication" id="authentication" placeholder="Verification of admin" value="{{auth}}">
            </div>
        </div>

        <div class="inf">
            <div class="sec-1">
                <label for="department">Department: </label>
                <select id="department" name="department">

                    <option value=""></option>
                </select>
            </div>
        </div>



        <button type="submit" value="Submit" class="registerbtn">Register</button>

        <div class="footer">
            <span><a href="/login">Already have an account? Click here to log-in</a></span>

        </div>
    </div>
    <ul class="error" id="registerError" hidden> </ul>
</form>

<script src="/public/js/auth/register.js" type="module"></script>
<link rel="stylesheet" href="/public/css/main.css">



    